<div class="row-md-6">
  <div class="col-md-4">
    
    <div >
      <form [formGroup]=sujet>
        <mat-form-field floatLabel="auto">
          <mat-label>title</mat-label>
          <input matInput required formControlName="title"> 
        </mat-form-field>
        <mat-form-field floatLabel="auto">
          <mat-label>description</mat-label>
          <input matInput required formControlName="description" >
        </mat-form-field>
             <button mat-raised-button color="accent" type="submit" (click) = "onSubmit()" > submit form</button> 
      </form>    </div>

    
  </div>

</div>